div p{
    border: 2px solid blueviolet;
    /* margin: 10px; */
    margin: 10px 20px 10px 20;
    margin: 10px 20px;

    padding: 50px;

    width: 30vw;
    margin: auto;

}

/* *{
    margin: 0;
    padding: 0;
} */